| {{#each results}}
div.entity-detail
  img(
  src='#{process.env.SERVER}images/imgholder.png'
  data-originUrl='{{posterLandscape}}'
  onload="pateco.UtitService.onImageLoad(this)"
  onerror="pateco.UtitService.onImageError(this)")
| {{/each}}
